In [18]:
import pandas as pd
import numpy as np

In [6]:
data_path = '/home/carol/titanic/src/data/titanic/train.csv'


data = pd.read_csv(data_path)

## Exploratory Data Analysis

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [12]:
data['PassengerId'].nunique()

891

In [13]:
data['Survived'].value_counts()

Survived
0    549
1    342
Name: count, dtype: int64

In [14]:
data['Age'].value_counts()

Age
24.00    30
22.00    27
18.00    26
28.00    25
30.00    25
         ..
24.50     1
0.67      1
0.42      1
34.50     1
74.00     1
Name: count, Length: 88, dtype: int64

In [15]:
data['Sex'].value_counts()

Sex
male      577
female    314
Name: count, dtype: int64

In [16]:
data['Pclass'].value_counts()

Pclass
3    491
1    216
2    184
Name: count, dtype: int64

### Survival Based on Passenger Class

In [21]:
class_data = data.iloc[np.where(data['Pclass']==1)]['Survived'].value_counts()
class_data

Survived
1    136
0     80
Name: count, dtype: int64

In [22]:
class_data = data.iloc[np.where(data['Pclass']==2)]['Survived'].value_counts()
class_data

Survived
0    97
1    87
Name: count, dtype: int64

In [23]:
class_data = data.iloc[np.where(data['Pclass']==3)]['Survived'].value_counts()
class_data

Survived
0    372
1    119
Name: count, dtype: int64

### Based on the above data, a lot of third class passengers have died

### Survival Based on Gender

In [26]:
male_age = data.iloc[np.where(data['Sex']=='male')]['Survived'].value_counts()
male_age

Survived
0    468
1    109
Name: count, dtype: int64

In [27]:
female_age = data.iloc[np.where(data['Sex']=='female')]['Survived'].value_counts()
female_age

Survived
1    233
0     81
Name: count, dtype: int64

### The above analysis shows that there are lot of women who have survived compared to male

### Based on Age

In [33]:
teenage = data.iloc[np.where(data['Age']<18)]['Survived'].value_counts()
teenage

Survived
1    61
0    52
Name: count, dtype: int64

In [31]:
old_adult = data.iloc[np.where(data['Age']>60)]['Survived'].value_counts()
old_adult

Survived
0    17
1     5
Name: count, dtype: int64

In [32]:
child = data.iloc[np.where(data['Age']<10)]['Survived'].value_counts()
child

Survived
1    38
0    24
Name: count, dtype: int64

In [39]:
young_adult = data.iloc[np.where((data['Age']<30) & (data['Age']>18))]['Survived'].value_counts()
young_adult

Survived
0    159
1     86
Name: count, dtype: int64

In [40]:
adult = data.iloc[np.where((data['Age']<60) & (data['Age']>30))]['Survived'].value_counts()
adult

Survived
0    162
1    117
Name: count, dtype: int64

### Based on the above analysis, a lot of people between the age of 30 to 60 have not survived and also more older people have also passed away